<div class="row">
  <div class="col s12 m7">
    <div class="section-header">
        <h2>New Event</h2>
    </div>
    
    <%= render 'form', event: @event %>

    <%= link_to 'Back', events_path %>

  </div>
</div>