<!DOCTYPE html>
<html>
  <head>
    <title>Bacchus</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <% unless current_page?(controller: 'home', action: 'index') %> 
    <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <a href="#!" class="brand-logo left">Bacchus</a>
            <ul class="right">
              <li><a href="/events"><i class="material-icons">dashboard</i></a></li>
              <li><a href="#"><i class="material-icons">more_vert</i></a></li>
            </ul>
          </div>
        </nav>
      </div>
    <% end %>

      </main>
        <%= yield %>
      </main>

      <footer>
      </footer>
  </body>
</html>
